.App {
  text-align: center;

  .wrapper {
    width: 80%;
    margin: 0 auto;

    .container {
      width: 50%;
      display: inline-block;

      textarea {
        margin-bottom: 10px;
      }

      button {
        width: 40%;
      }

      input {
        width: 30%;
        float: right;
        margin-left: -30%;
      }
    }

    .message-banner {
      margin-top: 30px;
    }

    /*.labels {
      font-size: 30px;
      text-align: center;
      input {
        height: 100%;
        width: 30%;
        display: inline-block;
        float: right;
        margin-left: -30%;
      }
    }
    .inputs {
      textarea {
        min-height: 300px;
        height: 100%;
      }
    }
    .buttons {
      button {
        width: 100%;
        height: 100px;
      }
    }
  }*/
    .lay-aside-area {
      margin-top: 30px;
    }

  }
}